a{
	text-decoration: none;
}


ul, form, p, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

div.wrapper{
	width: 1140px;
	margin: auto;
}

input, select, button, textarea{
	outline: 0;
	box-sizing: border-box;
}

// header section
header{
	width: 100%;
	height: 118px;
	div.top{
		position: relative;
		width: 100%;
		height: 66px;
		background-color: #2d59c6;
		div.wrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			a.logo{
				position: absolute;
				left: calc(50% - 54px);
				top: 16px;
				width: 108px;
				height: 128px;
				display: block;
				background-image: url('../images/logo.png');
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 5;
			}
			div.l{
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				div.lang{
					a{
						color: #668ff2;
						font-size: 13px;
						transition: 0.3s;
					}
					a.active{
						color: #FFFFFF;
					}
					a:hover{
						color: #FFFFFF;
					}
				}
				a.some{
					width: 23px;
					height: 18px;
					display: block;
					background-image: url('../images/some.png');
					background-repeat: no-repeat;
					background-size: cover;
					margin-left: 15px;
					margin-right: 10px;
				}
				div.soc{
					display: flex;
					flex-direction: row;
					align-items: center;
					a{
						width: 37px;
						height: 37px;
						background-color: #1b3e96;
						display: block;
						border-radius: 50%;
						text-align: center;
						margin-left: 10px;
						i{
							color: #668ff2;
							font-size: 13px;
							line-height: 37px;
							transition: 0.3s;
						}
						&:hover{
							i{
								color: #FFFFFF;
							}
						}
					}
				}
			}
			div.r{
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				div.srch{
					input[type='text']{
						width: 260px;
						height: 30px;
						border: 0;
						background-color: #4672dd;
						border-radius: 20px;
						color: #FFFFFF;
						padding: 0px 20px;
					}
					input[type='submit']{
						width: 16px;
						height: 16px;
						border: 0;
						background-color: transparent;
						background-image: url('../images/srch.png');
						background-repeat: no-repeat;
						background-size: cover;
						cursor: pointer;
						margin-left: -26px;
						margin-right: 40px;
					}
				}
				div.auth{
					width: 130px;
					height: 30px;
					background-color: #1d45aa;
					border-radius: 20px;
					padding-left: 40px;
					box-sizing: border-box;
					line-height: 30px;
					background-image: url('../images/profile.png');
					background-repeat: no-repeat;
					background-position: 15px center;
					a.authorization{
						color: #FFFFFF;
						font-size: 11px;
					}
				}
			}
		}
	}
	nav{
		width: 100%;
		height: 52px;
		background-color: #1b3e96;
		div.wrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;
			height: 100%;
			& > ul{
				width: calc(50% - 115px);
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				& > li{
					list-style-type: none;
					box-sizing: border-box;
					margin-right: 10px;
					line-height: 52px;
					a{
						font-size: 14px;
						color: #FFFFFF;
					}
					div.submenu{
						width: 100%;
						background-color: #ededed;
						position: absolute;
						top: 52px;
						z-index: 55;
						border-bottom: 7px solid #4672dd;
						box-sizing: border-box;
						padding: 35px 15px 20px 15px;
						display: none;
						div.w{
							display: flex;
							flex-direction: row;
							&>ul{
								margin-right: 80px;
								li{
									list-style-type: none;
									padding-left: 15px;
									margin: 12.5px 0px;
									position: relative;
									line-height: initial;
									&:before{
										content: "";
										width: 7px;
										height: 7px;
										background-color: #627ec4;
										position: absolute;
										left: -2px;
										transform: rotate(45deg);
										top: 5px;
									}
									a{
										color: #3e3e3e;
										font-size: 13px;
									}
									ul{
										margin-left: 5px;
										li{
											&:before{
												content: "";
												width: 4px;
												height: 4px;
												background-color: #b8b8b8;
												position: absolute;
												transform: rotate(0deg);
												left: -2px;
												top: 10px;
											}
											padding-left: 8px;
											a{
												font-size: 12px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			ul.left{
				float: left;
				justify-content: flex-start;
			}
			ul.right{
				float: right;
				justify-content: flex-end;
				li{
					&:last-child{
						margin-right: 0px;
					}
				}
			}
		}
	}
}

// main section 
main{
	div.topbg{
		height: 250px;
		width: 100%;
		background-color: #f3f3f3;
	}
	div.bredcrump{
		height: 85px!important;
		padding-top: 50px;
		box-sizing: border-box;
		div.wrapper{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			h2.title{
				font-size: 17px;
				color: #303030;
			}
			a.back{
				font-size: 13px;
				color: #c1c1c1;
				padding-left: 25px;
				background-image: url('../images/goback.png');
				background-repeat: no-repeat;
			}
		}
	}
	div.wrapper{
		section.slider{
			width: 100%;
			height: 240px;
			margin-top: -200px;
			div.item{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 100%;
				div.img{
					width: 630px;
					height: 100%;
				}
				div.desc{
					overflow: hidden;
					width: 510px;
					position: relative;
					background-color: #e2e1e1;
					box-sizing: border-box;
					padding: 45px 40px 35px 20px;
					div.line{
						position: absolute;
						top: 0;
						left: 20px;
						width: 130px;
						height: 13px;
						background-color: #4672dd;
					}
					h2{
						font-size: 20px;
						color: #303030;
					}
					p{
						margin-top: 25px;
						font-size: 14px;
						color: #303030;
					}
				}
			}
		}
		a.all{
			font-size: 11px;
			display: inline-block;
			height: 25px;
			color: #368fd4;
			line-height: 25px;
			border: 1px solid #368fd4;
			border-radius: 20px;
			padding: 0 10px;
			transition: 0.3s;
			&:hover{
				background-color: #368fd4;
				color: #FFFFFF;
			}
		}
		span.date{
			font-size: 13px;
			color: #1b3e96;
			display: block;
		}
		section.news{
			margin-top: 30px;
			margin-bottom: 40px;
			float: left;
			width: 730px;
			padding-right: 20px;
			border-right: 1px solid #d6d6d6;
			box-sizing: border-box;
			padding-top: 10px;
			div.h{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 25px;
				h2.title{
					font-size: 18px;
					color: #303030;
					padding-left: 60px;
					line-height: 40px;
					background-image: url('../images/newsicon.png');
					background-repeat: no-repeat;

				}
			}
			article{
				margin-bottom: 30px;
				overflow: hidden;
				height: 135px;
				&:nth-of-type(4){
					margin-bottom: 0;
				}
				div.img{
					width: 185px;
					height: 135px;
					float: left;
					background-repeat: no-repeat;
					background-size: cover;
				}
				div.n{
					padding-left: 20px;
					float: left;
					width: 520px;
					box-sizing: border-box;
					h3{
						font-size: 20px;
						color: #303030;
						margin-top: 10px;
					}
					p{
						margin-top: 10px;
						font-size: 14px;
						color: #666666;
					}
				}
			}
		}
		aside.statements{
			margin-top: 30px;
			margin-bottom: 40px;
			width: 410px;
			float: right;
			box-sizing: border-box;
			padding: 10px 15px 0 30px;
			section.statements{
				h2.title{
					font-size: 18px;
					color: #303030;
					padding-left: 50px;
					line-height: 43px;
					background-image: url('../images/statementsico.png');
					background-repeat: no-repeat;
					background-size: contain;
					margin-bottom: 10px;
				}
				article{
					padding: 15px 0;
					width: 300px;
					border-bottom: 1px solid #d6d6d6;
					a{
						font-size: 15px;
						color: #303030;
						margin-top: 10px;
					}
					&:nth-of-type(3){
							border: 0;
					}
				}
			}
			section.selfgov{
				h2.title{
					font-size: 18px;
					color: #303030;
					padding-left: 50px;
					margin-top: 30px;
					line-height: 40px;
					background-image: url('../images/tvitmartveloba.png');
					background-repeat: no-repeat;
					background-size: contain;
					margin-bottom: 10px;
				}
				article{
					padding: 15px 0;
					border-bottom: 1px solid #d6d6d6;
					width: 300px;
					&:nth-of-type(3){
						border: 0;
					}
					a{
						font-size: 15px;
						color: #303030;
						margin-top: 10px;
					}
				}
				a.all{
				}
			}
		}

		section.links{
			margin-bottom: 50px;
			height: 200px;
			width: 100%;
			float: left;
			box-sizing: border-box;
			padding-top: 30px;
			border-top: 1px solid #d6d6d6;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			article{
				width: 190px;
				height: 170px;
				border-radius: 20px 20px 0 0;
				text-align: center;
				padding: 0 20px;
				box-sizing: border-box;
				display: flex;
				align-items: flex-end;
				background-repeat: no-repeat;
				a{
					font-size: 13px;
					color: #666666;
				}
			}
			article.sport{
				background: url('../images/ministeryofsports.png') no-repeat center 25px, linear-gradient(#f5f5f5,#FFFFFF);
			}
			article.olimp{
				background: url('../images/olimpyc.png') no-repeat center 25px, linear-gradient(#f5f5f5,#FFFFFF);
			}
			article.ministeryofedu{
				background: url('../images/ministeryofeducation.png') no-repeat center 15px, linear-gradient(#f5f5f5,#FFFFFF);
			}
			article.exam{
				background: url('../images/examnationalcenter.png') no-repeat center 28px, linear-gradient(#f5f5f5,#FFFFFF);
			}
			article.quality{
				background: url('../images/ganatlxarisxganverovncenter.png') no-repeat center 22px, linear-gradient(#f5f5f5,#FFFFFF);
			}
		}
	}
	// text page

	div.wrapper{
		aside.attach{
			width: 380px;
			margin-top: 30px;
			margin-bottom: 40px;
			float: left;
			div.img{
				width: 100%;
				height: 275px;
				background-repeat: no-repeat;
				background-size: cover;
			}
			div.share{
				width: 100%;
				height: 75px;
				display: flex;
				align-items: center;
				border-bottom: 1px solid #d6d6d6;
				a{
					font-size: 12px;
					color: #2d59c6;
					i{
						width: 35px;
						height: 35px;
						background-color: #1b3e96;
						border-radius: 50%;
						text-align: center;
						line-height: 35px;
						font-size: 14px;
						color: #FFFFFF;
						margin-right: 5px;
					}
				}
			}
			section.attachments{
				article{
					margin: 20px 0 40px 0;
					width: 100%;
					cursor: pointer;
					&:hover{
						span.name{
							color: #2d59c6;
						}
						a.download{
							color: #2d59c6;
							background-image: url('../images/downloadicoblue.png');
							&:before{
								background-image: url('../images/pdficored.png');
							}
						}
					}
					span.name{
						font-size: 14px;
						color: #666666;
						transition: 0.3s;
						display: block;
					}
					a.download{
						display: inline-block;
						margin-top: 10px;
						height: 40px;
						border: 1px solid;
						font-size: 16px;
						color: #ababab;
						line-height: 40px;
						border-radius: 20px;
						padding: 0 40px;
						background-image: url('../images/downloadico.png');
						background-repeat: no-repeat;
						background-position: calc(100% - 15px) center;
						position: relative;
						transition: 0.3s;
						&:before{
							content: "";
							width: 37px;
							height: 45px;
							background-image: url('../images/pdfico.png');
							background-repeat: no-repeat;
							background-size: cover;
							position: absolute;
							top: -2px;
							left: -10px;
						}
					}
				}
			}
		}
		section.text{
			margin-top: 30px;
			width: 760px;
			float: right;
			box-sizing: border-box;
			padding-left: 20px;
			margin-bottom: 80px;
			h3.title{
				margin-top: 10px;
				font-size: 20px;
				color: #303030;
			}
			p{
				margin-top: 16px;
				font-size: 14px;
				color: #666666;
			}
		}
	}


	div.wrapper{
		section.archive{
			margin-top: 30px;
			width: 100%;
			article{
				overflow: hidden;
				width: 560px;
				float: left;
				margin-bottom: 30px;
				&:nth-child(odd){
					margin-right: 20px;
				}
				div.img{
					width: 180px;
					height: 135px;
					background-repeat: no-repeat;
					background-size: cover;
					float: left;
				}
				div.cont{
					width: 380px;
					box-sizing: border-box;
					padding-left: 20px;
					float: left;
					a{
						h3{
							font-size: 17px;
							color: #303030;
							margin-top: 10px;
						}
					}
					p{
						font-size: 14px;
						color: #666666;
						margin-top: 5px;
					}
				}
			}
		}
		section.pagination{
			float: left;
			width: 100%;
			height: 108px;
			margin-top: 20px;
			border-top: 1px solid #d6d6d6;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			a.backward{
				width: 26px;
				height: 30px;
				display: block;
				background-image: url('../images/backward.png');
				background-repeat: no-repeat;
				background-size: cover;
				margin: 0 15px;
			}
			a.n{
				font-size: 19px;
				color: #999999;
				margin: 0 7.5px;
				transition: 0.3s;
			}
			a.active{
				color: #2d59c6;
			}
			a.range{
				font-size: 19px;
				color: #999999;
				margin: 0 12.5px;
			}
			a.forward{
				width: 26px;
				height: 30px;
				display: block;
				background-image: url('../images/forward.png');
				background-repeat: no-repeat;
				background-size: cover;
				margin: 0 15px;
			}
		}
	}

	section.pdf1{
		margin-top: 40px;
		div.wrapper{
			article{
				width: 100%;
				height: 50px;
				border: 1px solid #cecece;
				border-radius: 50px;
				position: relative;
				display: flex;
				align-items: center;
				font-size: 13px;
				color: #666666;
				padding: 0 120px 0 60px;
				box-sizing: border-box;
				margin-bottom: 40px;
				transition: 0.3s;
				border-left: 0;
				cursor: pointer;
				&:hover{
					background-color: #e8e8e8;
					&:before{
						background-image: url('../images/pdficored.png');
					}
				}
				&:before{
					content: "";
					width: 55px;
					height: 67px;
					background-image: url('../images/pdfico.png');
					background-repeat: no-repeat;
					background-size: cover;
					position: absolute;
					top: -8.5px;
					left: 0;
				}
				a.download{
					position: absolute;
					right: 15px;
					top: 10px;
					width: 30px;
					height: 30px;
					background-color: #2d59c6;
					display: block;
					border-radius: 50%;
					background-image: url("../images/downloadicowhite.png");
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}


	section.pdf2{
		margin-top: 40px;
		div.wrapper{
			article{
				width: 560px;
				height: 50px;
				border: 1px solid #cecece;
				border-radius: 0 50px 50px 0;
				position: relative;
				display: flex;
				align-items: center;
				font-size: 13px;
				color: #666666;
				padding: 0 120px 0 60px;
				box-sizing: border-box;
				margin-bottom: 40px;
				transition: 0.3s;
				border-left: 0;
				cursor: pointer;
				float: left;
				&:nth-child(odd)
				{
					margin-right: 20px;
				}
				&:hover{
					background-color: #e8e8e8;
					&:before{
						background-image: url('../images/pdficored.png');
					}
				}
				&:before{
					content: "";
					width: 55px;
					height: 67px;
					background-image: url('../images/pdfico.png');
					background-repeat: no-repeat;
					background-size: cover;
					position: absolute;
					top: -8.5px;
					left: -7px;
				}
				a.download{
					position: absolute;
					right: 15px;
					top: 10px;
					width: 30px;
					height: 30px;
					background-color: #2d59c6;
					display: block;
					border-radius: 50%;
					background-image: url("../images/downloadicowhite.png");
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}

	section.pdf3{
		margin-top: 40px;
		div.wrapper{
			article{
				width: 370px;
				height: 75px;
				border: 1px solid #cecece;
				border-radius: 50px;
				position: relative;
				display: flex;
				align-items: center;
				font-size: 13px;
				color: #666666;
				padding: 0 35px;
				box-sizing: border-box;
				margin-bottom: 60px;
				transition: 0.3s;
				cursor: pointer;
				float: left;
				margin-right: 15px;
				text-align: center;
				&:nth-child(3n + 3)
				{
					margin-right: 0px;
				}
				&:hover{
					background-color: #e8e8e8;
					&:before{
						background-image: url('../images/pdficored.png');
					}
				}
				&:before{
					content: "";
					width: 27px;
					height: 32px;
					background-image: url('../images/pdfico.png');
					background-repeat: no-repeat;
					background-size: cover;
					position: absolute;
					top: -16px;
					left: 185px - 27px / 2;
				}
				a.download{
					position: absolute;
					left: 185px - 15px;
					bottom: -15px;
					width: 30px;
					height: 30px;
					background-color: #2d59c6;
					display: block;
					border-radius: 50%;
					background-image: url("../images/downloadicowhite.png");
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}


	// contact
	div.contact{
		div.wrapper{
			form{
				label{
					font-size: 15px;
					color: #757575;
					display: block;
					margin-bottom: 10px;
				}				
				div.left{
					margin-top: 30px;
					width: 430px;
					float: left;
					input{
						width: 100%;
						height: 50px;
						border-radius: 5px;
						border: 1px solid #cccccc;
						padding: 0 15px;
						margin-bottom: 30px;
					}
				}
				div.right{
					margin-top: 30px;
					width: 710px;
					float: left;
					padding-left: 25px;
					box-sizing: border-box;
					textarea{
						width: 100%;
						height: 270px;
						border: 1px solid #cccccc;
						resize: none;
						border-radius: 5px;
						padding: 15px;
					}
				}
				div.send{
					width: 100%;
					float: left;
					text-align: right;
					input[type='submit']{
						height: 40px;
						border: 0;
						font-size: 15px;
						color: #FFFFFF;
						background-color: #2d59c6;
						padding: 0 25px;
						cursor: pointer;
						border-radius: 20px;
					}
				}
			}
		}
		div#googleMap{
			margin-top: 50px;
			width: 100%;
			height: 400px;
			box-sizing: border-box;
			float: left;
			border-top: 10px solid #cecece;
			border-bottom: 10px solid #cecece;
		}
		div.wrapper{
			div.info{
				width: 100%;
				float: left;
				margin-top: 85px;
				margin-bottom: 50px;
				ul{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					li{
						list-style-type: none;
						background-repeat: no-repeat;
						height: 60px;
					}
					span.title{
						display: block;
						font-size: 13.87px;
						color: #666666;
					}
					span.name{
						display: block;
						font-size: 20.87px;
						color: #195ea2;
						margin-top: 5px;
					}
					li.address{
						padding-left: 75px;
						background-image: url('../images/address.png');
					}
					li.tell{
						padding-left: 40px;
						background-image: url('../images/tell.png');
					}
					li.mail{
						padding-left: 80px;
						background-image: url('../images/mail.png');
					}
				}
			}
		}
	}

	// site map
	div.sitemap{
		margin-top: 10px;
		div.wrapper{
			section{
				width: 100%;
				border-bottom: 1px solid #d7d7d7;
				padding: 20px 0;
				display: flex;
				flex-direction: row;
				&:last-child{
					border: 0;
				}
				article{
					width: 280px;
					h2{
						font-size: 16px;
						color: #2d59c6;
						height: 35px;
					}
					ul{
						li{
							list-style-type: none;
							margin-bottom: 20px;
							padding: 0 12px;
							position: relative;
							&:before{
								content:"";
								width: 7px;
								height: 7px;
								background-color: #627ec4;
								position: absolute;
								left: 0;
								top: 5px;
								transform: rotate(45deg);
							}
							ul{
								margin-top: 20px;
								li{
									font-size: 12px;
									padding-left: 15px;
									margin-bottom: 15px;
									&:before{
										content:"";
										width: 4px;
										height: 4px;
										background-color: #b8b8b8;
										position: absolute;
										left: 5px;
										top: 7px;
										transform: rotate(0deg);
									}
								}
							}
							a{
								font-size: 13px;
								color: #3e3e3e;
							}
						}
					}
				}
			}
		}
	}

	// profile page
	section.profile{
		margin-top: 30px;
		margin-bottom: 40px;
		div.wrapper{
			display: flex;
			flex-direction: row;
			aside{
				width: 145px;
				border-right: 1px solid #d7d7d7;
				ul{
					li{
						list-style-type: none;
						text-align: center;
						padding: 0 15px;
						margin-bottom: 60px;
						img{
							display: block;
							margin: auto;
						}
						a{
							font-size: 15px;
							color: #666666;
							margin-top: 5px;
							display: block;
							text-align: center;
						}
					}
					li.active{
						a{
							color: #2d59c6;
						}
					}
				}
			}
			section{
				width: 995px;
				box-sizing: border-box;
				padding-left: 30px;
				table{
					border-collapse: collapse;
					padding:0;
					tr{
						&:first-child{
							td:first-child{
								vertical-align: top;
								padding: 0;
								img.profilepic{
									border: 1px solid #cccccc;
									width: 110px;
								}
							}
						}
						td{
							padding: 0 20px; 
							font-size: 13px;
							color: #999999;
							height: 30px;
							span.a{
								color: #2d59c6;
								display: inline-block;
								padding-left: 25px;
								background-image: url('../images/active.png');
								background-repeat: no-repeat;
								margin-right: 20px;
							}
							span.stop{
								color: #dc2f2f;
								display: inline-block;
								padding-left: 25px;
								background-image: url('../images/stopped.png');
								background-repeat: no-repeat;
							}
						}
						td:last-child
						{
							color: #333333;
						}
					}
				}
				input#edit{
					margin-top: 35px;
					display: block;
					margin-left: 130px;
					font-size: 15px;
					color: #545454;
					height: 40px;
					border:0;
					padding: 0 25px 0 45px;
					background-image: url('../images/edit.png');
					background-repeat: no-repeat;
					background-position: 20px center;
					border-radius: 20px;
					background-color: #e2e2e2;
					cursor: pointer;
				}
				input#save{
					margin-top: 10px;
					display: block;
					margin-left: 130px;
					height: 40px;
					border:0;
					font-size: 15px;
					color: #FFFFFF;
					background-color: #2d59c6;
					border-radius: 20px;
					padding: 0 25px 0 45px;
					background-image: url('../images/save.png');
					background-repeat: no-repeat;
					background-position: 20px center;
					cursor: pointer;
				}



				h3.tabletitle{
					font-size: 15px;
					color: #2d59c6;
				}
				table.saswavlocxr{
					margin-top: 10px;
					border-collapse: collapse;
					padding: 0;
					width: 100%;
					margin-bottom: 30px;
					tr{
						&:nth-child(2n){
							background-color: #ededed;
							td{
								height: 30px;
							}
						}
						&:first-child{
							background-color: #2d59c6;
							color: #FFFFFF;
							height: 30px;
							font-size: 13px;
							th:first-child{
								padding-left: 10px;
							}
						}
						
						th{
							text-align: center;
						}
						th:nth-child(1){
							text-align: left;
						}
						th:nth-child(2){
							text-align: left;
						}
						td{
							text-align: center;
							padding: 0!important;
							color: #999999;
							font-size: 12px;
							height: 40px;
						}
						td:nth-child(1){
							text-align: left;
							padding-left: 10px!important;
							color: #333333;
						}
						td:nth-child(2){
							text-align: left;
						}
					}
				}
			}
		}
	}


	section.videogallery{
		margin-top: 30px;
		margin-bottom: 40px;
		div.wrapper{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			article{
				width: 360px;
				height: 260px;
				margin-right: 30px;
				margin-bottom: 40px;
				&:nth-child(3n + 3){
					margin-right:0;
				}
				div.video{
					width: 100%;
					height: 200px;
					background-repeat: no-repeat, no-repeat;
					background-size: 52px 52px, cover;
					background-position: center center, 0 0;
				}
				a.albumtitle{
					width: 100%;
					display: block;
					text-align: center;
					font-size: 15px;
					color: #2f2f2f;
					margin-top: 20px;
				}
			}
		}
	}

	section.photogallery{
		margin-top: 30px;
		div.wrapper{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			article{
				width: 360px;
				height: 290px;
				margin-right: 30px;
				margin-bottom: 30px;
				box-sizing: border-box;
				&:nth-child(3n + 3){
					margin-right:0;
				}
				div.img{
					width: 100%;
					height: 200px;
					border-radius: 30px;
					overflow: hidden;
				}
				div.lines{
					width: 245px;
					height: 13px;
					margin: auto;
					margin-top: 5px;
				}
				a.title{
					display: block;
					margin-top: 15px;
					text-align: center;
					font-size: 15px;
					color: #2f2f2f;
				}
				span.date{
					font-size: 11px;
					color: #2d59c6;
					margin-top: 10px;
					text-align: center;
				}
			}
		}
	}


	section.galleryinner{
		margin-top: 30px;
		margin-bottom: 30px;
		div.wrapper{
			h4.title{
				font-size: 15px;
				color: #2f2f2f;
			}
			div.gallery{
				margin-top: 30px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				a.galleryitem{
					display: block;
					width: 212px;
					height: 160px;
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 10px;
					margin-right: 20px;
					margin-bottom: 20px;
					&:nth-child(5n + 5){
						margin-right:0;
					}
				}
			}
		}
	}
}

//footer section

footer{
	height: 116px;
	width: 100%;
	div.soc{
		height: 60px;
		width: 100%;
		background-color: #2d59c6;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		a{
			width: 30px;
			height: 30px;
			background-color: #1b3e96;
			border-radius: 50%;
			text-align: center;
			margin: 0 5px;
			i{
				line-height: 30px;
				color: #FFFFFF;
				font-size: 13px;
				transition: 0.3s;
			}
		}
		a.fb{
		}
		a.tweet{
		}
		a.youtube{
		}
	}
	div.copy{
		background-color: #333333;
		width: 100%;
		height: 56px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		span{
			font-size: 12px;
			color: #999999;
			display: block;
		}
	}
}